extends layout

block content
  #banner.page-header
   .row
    .col-lg-6
     h1
      |Mekan 32
     small &nbsp; Isparta civarýndaki mekanlarý keþfedin!
  .row
     .col-xs-12.col-sm-12
       .row-list-group
        .col-xs-12.list-group-item
          h4
           a(href='/mekan/') Starbucks
           small &nbsp;
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star-empty
          span.badge.pull.right.badge-default 10km
          p.address Centrum Garden AVM
          p
             span.label.label-warning Dünya Kahveleri
             | &nbsp;
             span.label.label-warning Kekler
             | &nbsp;
             span.label.label-warning Pastalar
             .col-xs-12.list-group-item
          h5
           a(href='/mekan/') Kunbuk Pastanesi
           small &nbsp;
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star-empty
          span.badge.pull.right.badge-default 10km
          p.address Centrum Garden AVM
          p
             span.label.label-warning Pasta
             | &nbsp;
             span.label.label-warning Poðaça
             | &nbsp;
             span.label.label-warning Dondurma
             .col-xs-12.list-group-item
          h6
           a(href='/mekan/') Hell-Hot Fast Food
           small &nbsp;
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star-empty
          span.badge.pull.right.badge-default 10km
          p.address Centrum Garden AVM
          p
             span.label.label-warning Hamburger
             | &nbsp;
             span.label.label-warning Tavuk Dürüm
             | &nbsp;
             span.label.label-warning Et Dürüm
             .col-xs-12.list-group-item
          h7
           a(href='/mekan/') For Sale Pub
           small &nbsp;
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star-empty
          span.badge.pull.right.badge-default 10km
          p.address Centrum Garden AVM
          p
             span.label.label-warning Alkolsüz Ýçecek
             | &nbsp;
             span.label.label-warning Alkollü Ýçecek
             | &nbsp;
             span.label.label-warning Sýnýrsýz Yer Fýstýðý
             .col-xs-12.list-group-item
          h8
           a(href='/mekan/') Benim Adým Ýskender Restaurant
           small &nbsp;
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star
           span.glyphicon.glyphicon-star-empty
          span.badge.pull.right.badge-default 10km
          p.address Centrum Garden AVM
          p
             span.label.label-warning Ýskender
             | &nbsp;
             span.label.label-warning Köfte
             | &nbsp;
             span.label.label-warning Kebap
        .col-xs-12.col-sm-12
